<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>LISTAS</title>
    </head>
    <body>
        <main>
            <h1>TAREA DIW PARA TRABAJAR CON LISTAS</h1>
            <div id="Contenido_internet">
                <h2>Contenido sobre Internet</h2>
                <ol>
                    <li>Principales protocolos</li>
                    <li>Formas de conectarse</li>
                </ol>
            </div>
            <div id="Main_protocols">
                <h2>Principales protocolos</h2>
                <ul>
                    <li>Transmision de ficheros: 
                    <ul>
                        <li>FTP</li>
                    </ul>
                    </li><br/>
                    <li>Coreos electrónicos:
                    <ul>
                        <li>IMAP</li>
                        <li>POP</li>
                        <li>SMTP</li>
                    </ul>
                </li>
                </ul>
            </div>
            <div id="con_met">
                <h2>Formas de conectarse</h2>
                <dl>
                    <dt><h4>Red Telefónica :</h4></dt>
                    <dd>Linea telefonica de toda la vida</dd>
                </dl>
                <dl>
                    <dt><h4>Red Telefónica :</h4></dt>
                    <dd>Linea telefonica de toda la vida</dd>
                </dl>
                <dl>
                    <dt><h4>Red Telefónica :</h4></dt>
                    <dd>Linea telefonica de toda la vida</dd>
                </dl>
            </div>
        </main>
    </body>
</html>