<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>TABLAS</title>
        <link rel="stylesheet" type="text/css" href="../css/tablas.css">
    </head>
    <body>
        <h1>Tarea DIW para trabajar con tablas</h1>
        <main>
            <table>
                <tr><th>Producto</th><th>Cantidad</th><th>Precio</th></tr>
                <tr><td>Destornillador</td><td>1</td><td>3</td></tr>
                <tr><td>Martillo</td><td>1</td><td rowspan="2">5</td></tr>
                <tr><td>Llave inglesa</td><td>1</td></tr>
                <tr><td colspan="2">Total</td><td>8</td></tr>
            </table>
        </main>
    </body>
</html>